*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}

body{

background:#111;

color:white;

overflow:hidden;

}

header{

height:70px;

background:#1b1b1b;

display:flex;

align-items:center;

padding-left:25px;

box-shadow:0 2px 8px rgba(0,0,0,.5);

}

main{

height:calc(100vh - 70px);

overflow-x:auto;

padding:20px;

}

#mixer{

display:flex;

align-items:flex-end;

gap:12px;

height:100%;

}

.channel,
.master{

min-width:85px;

height:100%;

background:#222;

border-radius:10px;

padding:12px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:flex-start;

}

.display{

margin-bottom:15px;

font-weight:bold;

}

.meter{

width:16px;

height:180px;

background:#000;

border-radius:20px;

overflow:hidden;

display:flex;

align-items:flex-end;

margin-bottom:15px;

}

.level{

width:100%;

height:40%;

background:linear-gradient(green,lime,yellow,red);

animation:vumeter .7s infinite alternate;

}

@keyframes vumeter{

0%{

height:20%;

}

100%{

height:95%;

}

}

button{

margin-bottom:8px;

width:65px;

height:28px;

background:#333;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#555;

}

.fader{

writing-mode:bt-lr;

-webkit-appearance:slider-vertical;

width:30px;

height:250px;

}